textarea.noresize {
    resize: none;
}

#fixed_alerts {
    position: fixed;
    right: 0;
    bottom: 0;
}

.form-inline .form-control-label { padding: 0 5px; }
.form-inline .form-group {
    margin-right: 10px;
}

.invalid-feedback {
    color: red;
}