.timetable {
    font-family: Arial;
    border-spacing: 0px;
    border-collapse: collapse;
    border: 1px;
    font-size: 13px;
    white-space: nowrap;
    table-layout: fixed;
    background: #fff;
}

.timetable th {
    background: #eee;
    width: 100px;
    vertical-align: bottom !important;
    text-align: center;
    overflow: hidden;
}

.timetable th.times {
    width: 30px !important;
}

.timetable .manager {
    width: 51px !important;
}

.timetable .mechanism {
    width: 180px !important;
}
.timetable .comment {
    width: 71px !important;
}

.timetable .price_for_customer,
.timetable .price_for_provider,
.timetable .sum_times {
    width: 70px !important;
}

.timetable .comment .th-inner {
    width: 70px !important;
}

.timetable .price_for_customer .th-inner,
.timetable .price_for_provider .th-inner,
.timetable .sum_times .th-inner {
    width: 70px !important;
}

.timetable .manager .th-inner {
    width: 50px !important;
}

.timetable th .th-inner {
    font-size: 13px !important;
    line-height: 15px !important;
    padding: 0 !important;
    white-space: normal !important;
    word-wrap: break-word;
    margin-bottom: 12px;
}

.timetable td.sum_times,
.timetable td.customer_salary,
.timetable td.customer_balance,
.timetable td.provider_salary,
.timetable td.provider_balance {
    font-weight: bold;
}

.timetable td {
    border: 1px solid #D0D7E5;
    padding: 2px 4px !important;
}

.fixed-table-header-columns,
.fixed-table-body-columns {
    z-index: 999;
}

.tt-tooltip {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

.timetable-fixed-cell.controls {
    width: 40px !important;
    text-align: center;
}

.timetable td.times {
    padding: 0 !important;
    position: relative;
}

.timetable .times-item,
.timetable .times-input {
    border: 0;
    width: 100%;
    height: 21px;
    padding: 2px 4px;
    cursor: default;
    background: inherit;
}

.timetable .times-item.ui-selected,
.timetable .times-item.ui-selecting {
    background: #FFC0CB;
}

.timetable .times-input:focus {
    padding: 0;
    border: 2px solid #337ab7;
}

.timetable th.bold-border {
    border-left: 2px solid #aaa !important;
}
.timetable td.bold-border {
    border-left: 2px solid #aaa !important;
}

.timetable tr.bold-border {
    border-top: 2px solid #aaa !important;
}

.timetable .times-comment {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 7px;
    cursor: pointer;
    white-space: normal;
    text-decoration: none;
    border: 0;
}

.timetable .times-comment.text-muted {
    color: #eee !important;
}

.bg-red {
    background: #ff0000 !important;
}
.bg-pink {
    background: #FFC0CB !important;
}
.text-white {
    color: #fff;
}

.selectable-color.yellow,
.times.yellow {
    background: yellow !important;
}
.selectable-color.green,
.times.green {
    background: green !important;;
}
.selectable-color.blue,
.times.blue {
    background: lightblue !important;;
}
.selectable-color.purple,
.times.purple {
    background: #cb00cb !important;;
}

.provider-cell {
    background-color: #eee;
}

#timetable_container {
    position: relative;;
}

.loader-overflow {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 999;
}

.loader-overflow .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 4px;
    top: 4px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}